@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Добро пожаловать в библиотечную базу данных!</h1>
    <p class="lead">Вы можете перемещаться по приложению с помощью кнопок в верхней части экрана.</p>
</div>

